{{!-- Majority of Handlebars code goes here --}}

{{!-- TESTING --}}
{{!-- <p>YASSSS, YOU SUCCESSFULLY CONNECTED TO THE SERVER!</p> --}}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" id="title-bar">
            <h1>WHEN LIFE THROWS YOU A BURGER, EAT IT!</h1>
            {{!-- NTS: This image isn't working so far --}}
            <img src="/public/images/unsplash_burger.jpg">
        </div>
    </div>

    <div class="post-burger-container">
        <div class="row">
            {{!-- enter_section --}}
            <div class="col-md-12 text-center">
                <h5>Enter a burger... if you dare.</h5>
                <form action="/burgers/create" method="POST">
                    {{!-- id="enter_text" value="" --}}
                    <input type="text" placeholder="so hungry..." class="form-control" name="burger_name">
                    <button type="submit" class="btn btn-primary" id="add-burger">WHO'S A GOOD BURGER?</button>
                </form>
            </div>
        </div>
    </div>

    {{!-- Go through each burger in db --}}
    <div class="container">
        <div class="col-md-6 text-center" class="burger-list">
            <div class="row">
                {{#each burgerData}}
                {{#unless devoured}}
                <div class="col-md-9 text-center">
                    {{burger_name}}
                </div>
                <div class="col-md-3 text-center">
                    {{!-- <form class="devour-form button-size"> --}}
                    <button type="submit" class="btn btn-light" value={{id}} data-state={{devoured}}>Devour
                        it!</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>
        <div class="col-md-6 text-center" class="ate-it">
            {{#each burgerData}}
            {{#if devoured}}
            <li>{{this.burger_name}}</li>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>

</div>

{{!-- See 14:22 for video --}}