{{!-- <p>TESTING: YASSSS, YOU SUCCESSFULLY CONNECTED TO THE SERVER!</p> --}}

{{!-- TOP OF PAGE: IMAGE, TITLE --}}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" id="head">
            {{!-- Image isn't displaying properly --}}
            <img src="../public/images/mae-mu-I7A_pHLcQK8-unsplash.jpg" alt="burger" />
            <h1>WHEN LIFE GIVES YOU A BURGER, EAT IT!</h1>
        </div>

        {{!-- LEFT SIDE: UNEATEN BURGER OPTIONS --}}
        <br>
        <div class="col-md-6" class="state-burger">
            <div class="row">
                <h2>Your Burger Options:</h2>
                {{#each burger_data}}
                {{#unless this.devoured}}
                <div class="col-md-9">
                    <pre>{{this.id}}. {{this.burger_name}}
					</pre>
                </div>
                <div class="col-md-3">
                    <form class="devour-burger button-size">
                        <input input type="hidden" type="text" class="burger_id" value={{this.id}}><br>
                        <button type="submit" class="btn btn-light">DEVOUR!</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>
        {{!-- RIGHT SIDE: EATEN BURGERS --}}
        <br>
        <div class="col-md-6" class="state-burger">
            <h2>Yummy in ze Tummy:</h2>
            {{#each burger_data}}
            {{#if this.devoured}}
            {{!-- should display text as muted --}}
            <input class="form-control" type="text-muted">
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>

{{!-- BELOW: FORM TO SUBMIT BURGER REQUESTS --}}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <form action="/burgers/create" method="POST">
                {{!-- ^ No need to do jQuery function in script.js --}}
                <input type="text" placeholder="Can't get enough?" class="form-control" name="burger_name" value=""
                    id="enter_text">
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="enter-text-button">Add Burger
                    Option</button>
            </form>
            <br>
            <h4>Enter a burger... if you dare.</h4>
        </div>
    </div>
</div>